 A README.md that explains the project
 What does it do?
 How to set it up.
 How to run a local development server.
 It should be a Truffle project.
 All contracts should be in a contracts directory.
 truffle compile should successfully compile contracts.
 Migration contract and migration scripts should work.
 truffle migrate should successfully migrate contracts to a locally running ganache-cli test blockchain on port 8454.
 All tests should be in a tests directory.
 truffle test should migrate contracts and run the tests.
 Smart contract code should be commented according to the specs in the documentation.
 Create at least 5 tests for each smart contract.
 Write a sentence or two explaining what the tests are covering, and explain why those tests were written.
 A development server to serve the front-end interface of the application.
 A document design_pattern_decisions.md that explains the design patterns chosen.
 A document avoiding_common_attacks.md that explains what measures were taken to ensure that the contracts are not susceptible to common attacks.
 Implement/use a library or an EthPM package.